.header {
    display: flex;
    gap: 10px;
    position: relative;
    padding: 25px 10px;
    background-color: olive;
    color: white;
    margin-bottom: 10px;

    h1 {
        margin: 0 !important;
    }
}