.datatable {
    display: flex;
    height: 720px;

    .orderStatus {
        padding: 5px;
        border-radius: 5px;
        
        &.in_progress {
            background-color: lightgreen;
        }

        &.placed {
            background-color: aquamarine;
        }

        &.shipped {
            background-color: lightblue;
        }

        &.cancelled {
            background-color: lightcoral;
        }
    }
}