.datatable {
    .css-f3jnds-MuiDataGrid-columnHeaders {
        background-color: coral;
        color: white;
    }

    .orderStatus {
        padding: 5px 15px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        
        &.in_progress {
            background-color: lightgreen;
        }

        &.placed {
            background-color: aquamarine;
        }

        &.shipped {
            background-color: lightblue;
        }

        &.cancelled {
            background-color: lightcoral;
        }
    }
}